.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 5px #AAB8BF; 
    box-shadow: 0px 0px 5px 5px #AAB8BF;
    margin: 30px 0px;
    font-family: Sans-Serif;
}

.postWrapper{
    padding: 10px;

}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.postUserName{
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;
    font-family:  Narrow, sans-serif;
}

.postText{
    font-weight: bold;
    font-size: 16px;
}
.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    width: 100%;
    margin-top: 20px;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center ;
}

.likeIcon{
    border: none;
    background-color: none;
    color: #cb2d6f;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommmentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px
}