.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position:   sticky;
    top: 0;
    z-index: 15;
}

.topbarLeft{
    flex: 3;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer 
}

.topbarCenter{
    flex: 5;
}

.searchBar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}



.topbarRight{
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position:  relative;
}

.topbarIconBatch{
    width: 15px;
    height: 15px;
    background-color: rgb(216, 11, 11);
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    top: -5px;
    right:-5px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topbarImg{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.settingIcon{
    color: white;
    font-size: 20px;
}

.dropbtn {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: darkblue;

    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(95, 240, 27);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  .search-resultsUser{
    position: absolute;
    background: #fff;
    width: 35%;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    top: 42px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
  }

  .rightbarUserNameSearch{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  #highlight:hover{
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    background-color: rgb(233, 227, 216);

  }

#searchImg{
  border: 1px solid powderblue
}